# Loading data from Databses
Let's review some of the Input/Output formats that Pandas support:

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%">
<col width="40%">
<col width="24%">
<col width="24%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-even" style='background-color: #BBB; '><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

## Creating a MySQL database with test data

The following sections is not **related to panda nor the course** and it can be skipped until the next section if you already have a MySQL database to connect to. Since we don't either have MySQL or a database, we're gonna use Docker to run MySQL and download the Oracle's example database from [their GitHub repository](https://github.com/datacharmer/test_db).

Due to the size of the database, we don't include it here.
![](https://severalnines.com/sites/default/files/blog/node_4893/image02.png)

In [18]:
# Small script that downloads from github and unzips
from pathlib import Path
import requests
import tempfile
import sh

if not Path('.').joinpath('test_db-master').is_dir():
    with tempfile.NamedTemporaryFile("w+b", suffix='test_data.zip') as tmp:
        print(f"Downloading to {tmp.name}")
        with requests.get('https://github.com/datacharmer/test_db/archive/master.zip') as rq:
            tmp.write(rq.content)
        print("Creating directory for test database")
        print(f"Unzipping {tmp.name}")
        !unzip {tmp.name}

In [10]:
# Delete container
!docker stop mysql | xargs docker rm

mysql

In [11]:
test_db_dir = (Path('.') / 'test_db-master').absolute()
!docker run -d -p 3306:3306 -v {test_db_dir}:/test_db --name mysql -e MYSQL_ROOT_PASSWORD=password mysql

190384bcf100baf11556897bb03d3987b8ad8688a8fa11e540ee82c1b16a27a0

In [1]:
# Still running?
!docker ps | grep mysql

190384bcf100        mysql               "docker-entrypoint.s…"   About an hour ago   Up About an hour    0.0.0.0:3306->3306/tcp, 33060/tcp   mysql

In [13]:
# Has the test data?
!docker exec mysql ls /test_db/employees.sql

/test_db/employees.sql

In [16]:
%%writefile test_db-master/load.sh
#!/bin/bash
cd /test_db/
while : ; do
    mysql --password=password < employees.sql && exit 0 ;
    sleep 1 ;
done

Writing test_db-master/load.sh

In [17]:
!docker exec -ti mysql bash /test_db/load.sh

mysql: [Warning] Using a password on the command line interface can be insecure.
INFO
CREATING DATABASE STRUCTURE
INFO
storage engine: InnoDB
INFO
LOADING departments
INFO
LOADING employees
INFO
LOADING dept_emp
INFO
LOADING dept_manager
INFO
LOADING titles
INFO
LOADING salaries
data_load_time_diff
00:01:10

# Connecting and reading data

In [2]:
import pandas as pd

try:
    import pymysql
except ImportError:
    # There are many SQL conectors, Python does not come with one by default
    !pip install PyMySQL


from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:password@localhost/employees')

In [3]:
pd.read_sql_table('employees',con=engine)

        emp_no birth_date first_name      last_name gender  hire_date
0        10001 1953-09-02     Georgi        Facello      M 1986-06-26
1        10002 1964-06-02    Bezalel         Simmel      F 1985-11-21
2        10003 1959-12-03      Parto        Bamford      M 1986-08-28
3        10004 1954-05-01  Chirstian        Koblick      M 1986-12-01
4        10005 1955-01-21    Kyoichi       Maliniak      M 1989-09-12
5        10006 1953-04-20     Anneke        Preusig      F 1989-06-02
6        10007 1957-05-23    Tzvetan      Zielinski      F 1989-02-10
7        10008 1958-02-19     Saniya       Kalloufi      M 1994-09-15
8        10009 1952-04-19     Sumant           Peac      F 1985-02-18
9        10010 1963-06-01  Duangkaew       Piveteau      F 1989-08-24
10       10011 1953-11-07       Mary          Sluis      F 1990-01-22
11       10012 1960-10-04   Patricio      Bridgland      M 1992-12-18
12       10013 1963-06-07  Eberhardt         Terkki      M 1985-10-20
13       10014 1956-02-12      Berni          Genin      M 1987-03-11
14       10015 1959-08-19   Guoxiang      Nooteboom      M 1987-07-02
15       10016 1961-05-02   Kazuhito    Cappelletti      M 1995-01-27
16       10017 1958-07-06  Cristinel      Bouloucos      F 1993-08-03
17       10018 1954-06-19   Kazuhide           Peha      F 1987-04-03
18       10019 1953-01-23    Lillian        Haddadi      M 1999-04-30
19       10020 1952-12-24     Mayuko        Warwick      M 1991-01-26
20       10021 1960-02-20      Ramzi           Erde      M 1988-02-10
21       10022 1952-07-08     Shahaf         Famili      M 1995-08-22
22       10023 1953-09-29      Bojan     Montemayor      F 1989-12-17
23       10024 1958-09-05    Suzette         Pettey      F 1997-05-19
24       10025 1958-10-31  Prasadram         Heyers      M 1987-08-17
25       10026 1953-04-03   Yongqiao       Berztiss      M 1995-03-20
26       10027 1962-07-10     Divier        Reistad      F 1989-07-07
27       10028 1963-11-26   Domenick       Tempesti      M 1991-10-22
28       10029 1956-12-13      Otmar         Herbst      M 1985-11-20
29       10030 1958-07-14      Elvis        Demeyer      M 1994-02-17
...        ...        ...        ...            ...    ...        ...
299994  499970 1963-03-25      Danai        Hedayat      M 1994-08-06
299995  499971 1963-12-28        Uwe         Uludag      M 1989-02-26
299996  499972 1957-07-25     Katsuo         Leuchs      F 1989-11-23
299997  499973 1963-06-03      Lobel        Taubman      M 1994-02-01
299998  499974 1956-09-10    Shuichi         Piazza      F 1989-09-16
299999  499975 1952-11-09     Masali        Chorvat      M 1992-01-23
300000  499976 1963-08-20   Guozhong         Felder      M 1988-12-26
300001  499977 1956-06-05    Martial        Weisert      F 1996-09-17
300002  499978 1960-03-29  Chiranjit        Kuzuoka      M 1990-05-24
300003  499979 1962-10-29  Prasadram  Waleschkowski      M 1994-01-04
300004  499980 1959-06-28       Gino          Usery      M 1991-02-11
300005  499981 1955-01-02    Yunming         Mitina      F 1991-03-07
300006  499982 1954-08-25   Mohammed       Pleszkun      M 1986-02-21
300007  499983 1955-08-29        Uri         Juneja      F 1989-08-28
300008  499984 1959-08-31    Kaijung         Rodham      M 1985-09-11
300009  499985 1964-12-26       Gila    Lukaszewicz      M 1997-02-11
300010  499986 1952-07-22     Nathan          Ranta      F 1985-08-11
300011  499987 1961-09-05      Rimli         Dusink      F 1998-09-20
300012  499988 1962-09-28   Bangqing        Kleiser      F 1986-06-06
300013  499989 1954-05-26  Keiichiro      Lindqvist      M 1993-10-28
300014  499990 1963-11-03     Khaled        Kohling      M 1985-10-10
300015  499991 1962-02-26      Pohua        Sichman      F 1989-01-12
300016  499992 1960-10-12     Siamak       Salverda      F 1987-05-10
300017  499993 1963-06-04   DeForest   Mullainathan      M 1997-04-07
300018  499994 1952-02-26      Navin        Argence      F 1990-04-24
300019  499995 1958-09-24     Dekang       Lichtner      F 1993-01-12
300020  499996 1953-03-07       Zito           Baaz      M 1990-09-27
300021  499997 1961-08-03    Berhard         Lenart      M 1986-04-21
300022  499998 1956-09-05   Patricia        Breugel      M 1993-10-13
300023  499999 1958-05-01     Sachin        Tsukuda      M 1997-11-30

[300024 rows x 6 columns]

In [4]:
df = pd.read_sql('select * from employees LIMIT 100',con=engine)